name: Bazel Tests
on: [push]
jobs:
  bazel-test:
    name: Bazel tests
    runs-on: macos-latest
    steps:
    - uses: bazel-contrib/setup-bazel@0.15.0
      with:
        bazelisk-cache: true
        disk-cache: ${{ github.workflow }}
        repository-cache: true
    - name: Checkout source
      uses: actions/checkout@v5
    - name: Build everything
      run: bazel build //:TOMLDecoder //:compliance
    - name: Run tests
      run: bazel test //...
