name: WASM Build
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
jobs:
  swift-build:
    name: Build for WebAssembly
    runs-on: ubuntu-24.04
    steps:
      - uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: 6.2
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Set up Swift for WASM
        run: swift sdk install https://download.swift.org/swift-6.2.3-release/wasm-sdk/swift-6.2.3-RELEASE/swift-6.2.3-RELEASE_wasm.artifactbundle.tar.gz --checksum 394040ecd5260e68bb02f6c20aeede733b9b90702c2204e178f3e42413edad2a
      - name: Build
        run: swift build --swift-sdk swift-6.2.3-RELEASE_wasm
      - name: Build without Codable
        run: swift build --swift-sdk swift-6.2.3-RELEASE_wasm --disable-default-traits
