name: Deploy Documentation

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-docs:
    name: Generate and Deploy Documentation
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x Scripts/generate-docs.sh

      - name: Generate documentation
        run: Scripts/generate-docs.sh

      - name: Deploy to GitHub Pages
        run: |
          git fetch origin gh-pages:gh-pages
          git config user.email "$(git show -s --format='%ae' HEAD)"
          git config user.name "$(git show -s --format='%an' HEAD)"
          Scripts/generate-docs.sh
          rm -rf /tmp/public
          cp -r Docs /tmp/public
          git checkout gh-pages
          rm -rf ./*
          cp -r /tmp/public/. ./
          git add .
          git commit -m "Deploy $GITHUB_SHA"
          git push origin gh-pages
