name: Swift Tests
on: [push]
jobs:
  swift-test:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, macos-26, windows-2025]
        swift: ["5.5", "6.2"]
    steps:
    - uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: ${{ matrix.swift }}
    - name: Checkout source
      uses: actions/checkout@v2
    - name: Run tests
      run: swift test
