name: Swift Tests
on: [push]
jobs:
  swift-test:
    name: ${{ matrix.os_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            os_name: Ubuntu 24.04
          - os: windows-2025
            os_name: Windows 2025
          - os: macos-15
            os_name: macOS 15
          - os: macos-26
            os_name: macOS 26
    steps:
      - uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: 6.2
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Run tests
        run: swift test

  simulator-test:
    name: ${{ matrix.platform }} ${{ matrix.os_version }}
    runs-on: macos-26
    strategy:
      matrix:
        include:
          - platform: iOS
            os_version: "18.5"
            destination: "platform=iOS Simulator,name=iPhone 16 Pro,OS=18.5,arch=arm64"
            sdk: iphonesimulator
          - platform: tvOS
            os_version: "18.5"
            destination: "platform=tvOS Simulator,name=Apple TV,OS=18.5,arch=arm64"
            sdk: appletvsimulator
          - platform: watchOS
            os_version: "11.5"
            destination: "platform=watchOS Simulator,name=Apple Watch Series 10 (46mm),OS=11.5,arch=arm64"
            sdk: watchsimulator
          - platform: visionOS
            os_version: "2.5"
            destination: "platform=visionOS Simulator,name=Apple Vision Pro,OS=2.5,arch=arm64"
            sdk: xrsimulator
          - platform: iOS
            os_version: "26.1"
            destination: "platform=iOS Simulator,name=iPhone 17 Pro,OS=26.1,arch=arm64"
            sdk: iphonesimulator
          - platform: tvOS
            os_version: "26.1"
            destination: "platform=tvOS Simulator,name=Apple TV,OS=26.1,arch=arm64"
            sdk: appletvsimulator
          - platform: watchOS
            os_version: "26.1"
            destination: "platform=watchOS Simulator,name=Apple Watch Series 11 (46mm),OS=26.1,arch=arm64"
            sdk: watchsimulator
          - platform: visionOS
            os_version: "26.1"
            destination: "platform=visionOS Simulator,name=Apple Vision Pro,OS=26.1,arch=arm64"
            sdk: xrsimulator
    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_26.1.1.app
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Restore simulator runtime cache
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/sim-cache.tgz
          key: sim-${{ runner.os }}-${{ hashFiles('**/Package.resolved') }}-${{ matrix.platform }}-${{ matrix.os_version }}
      - name: Attempt to Install simulator runtime
        run: |
          if [ -f "${RUNNER_TEMP}/sim-cache.tgz" ]; then
            sudo tar -xzf "${RUNNER_TEMP}/sim-cache.tgz" -C /
          fi
      - name: Ensure simulator exists
        id: ensure-simulator
        run:  Scripts/ensure-simulator.sh "${{ matrix.platform }}" "${{ matrix.OS_VERSION }}" "${{ matrix.destination }}"
      - name: Save simulator runtime cache tarball
        if: steps.ensure-simulator.outputs.downloaded == 'true'
        run: |
          sudo tar -czf "${RUNNER_TEMP}/sim-cache.tgz" \
            /Library/Developer/CoreSimulator/Images \
            /Library/Developer/CoreSimulator/Cryptex/Images \
            /Library/Developer/CoreSimulator/Volumes 2>/dev/null || true
      - name: Run tests
        run: |
          xcodebuild -scheme TOMLDecoder-Package -destination "${{ matrix.destination }}" -sdk "${{ matrix.sdk }}" test
