name: Swift Tests
on: [push]
jobs:
  swift-test:
    name: ${{ matrix.os_name }} (Swift ${{ matrix.swift_version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            os_name: Ubuntu 24.04
            swift_version: "6.0"
          - os: ubuntu-24.04
            os_name: Ubuntu 24.04
            swift_version: "6.2"
          - os: windows-2025
            os_name: Windows 2025
            swift_version: "6.2"
    steps:
      - uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: ${{ matrix.swift_version }}
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Run tests
        run: swift test

  swift-test-macos:
    name: ${{ matrix.os_name }} (Swift ${{ matrix.swift_version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15
            os_name: macOS 15
            swift_version: "6.0"
          - os: macos-26
            os_name: macOS 26
            swift_version: "6.2"
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Run tests
        run: swift test

  swift-test-simulator:
    name: ${{ matrix.platform }} ${{ matrix.os_version }} (Swift 6.2)
    runs-on: macos-26
    strategy:
      matrix:
        include:
          - platform: iOS
            os_version: "26.1"
            destination: "platform=iOS Simulator,name=iPhone 17 Pro,OS=26.1"
            sdk: iphonesimulator
          - platform: tvOS
            os_version: "26.1"
            destination: "platform=tvOS Simulator,name=Apple TV,OS=26.1"
            sdk: appletvsimulator
          - platform: watchOS
            os_version: "26.1"
            destination: "platform=watchOS Simulator,name=Apple Watch Series 11 (46mm),OS=26.1"
            sdk: watchsimulator
          - platform: visionOS
            os_version: "26.1"
            destination: "platform=visionOS Simulator,name=Apple Vision Pro,OS=26.1"
            sdk: xrsimulator
    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_26.1.1.app
      - name: List simulators
        run: xcrun simctl list devices
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Run tests (simulator)
        run: |
          xcodebuild -scheme TOMLDecoder-Package -destination "${{ matrix.destination }}" -sdk "${{ matrix.sdk }}" test

  swift-test-simulator-backdeploy:
    name: iOS 17.0.1 (Swift 6.0)
    runs-on: macos-14
    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.1.app
      - name: List simulators
        run: xcrun simctl list devices
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Run tests (simulator)
        run: |
          xcodebuild -scheme TOMLDecoder-Package -destination "platform=iOS Simulator,name=iPhone 15 Pro,OS=17.0.1" -sdk iphonesimulator test
